.ui.embed {
  position: fixed !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 200% !important;
  height: 100% !important;
}

.ui.grid.container {
  margin: 0 !important;
  width: 100% !important;
}

.row.anime-info {
  background: black;
}

.row:not(.anime-video) {
  // visibility: hidden; <- THIS MAKES THE AUTOPLAY NOT WORK
  display: none !important;
}

#navigation {
  display: none;
}

#watch>.ui.grid>.anime-video .options {
  // width: calc(200% - 2rem)
  left:0;
  width: 100%;
}

.ui.grid>.row.anime-video {
  padding: 0;
}

#disqus_thread, .hero-726x90 {
  display: none;
}

//Anime info element
#anime-info {
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .2s;
  background: black;
  padding: 5px 10px;
  border-radius: 6px;
  display:flex;
  align-items: center;

  &.hover {
    opacity:0.8;
  }
}