.ui.embed {
  position: fixed !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 200% !important;
  height: 100% !important;
}

body:hover {
  .row.anime-info {
    // visibility: visible;
    // opacity: 1;
  }
}

.ui.grid.container {
  margin: 0 !important;
  width: 100% !important;
}

.row.anime-info {
  background: black;
}

.row:not(.anime-video) {
  // visibility: hidden; <- THIS MAKES THE AUTOPLAY NOT WORK
  display: none !important;
}

#navigation {
  display: none;
}

#watch>.ui.grid>.anime-video .options {
  // width: calc(200% - 2rem)
  left:0;
  width: 100%;
}

.ui.grid>.row.anime-video {
  padding: 0;
}

/*
.ui.inverted.fixed.top.borderless.menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.row.anime-info, .ui.master.header {
  visibility: hidden;
}

.info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.actions {
  display: none !important;
}

.ui.master.button {
  visibility: hidden;
}*/

#disqus_thread, .hero-726x90 {
  display: none;
}